In [1]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'k'

In [27]:
from datetime import datetime

In [29]:
%%time
data = pd.read_csv('Traffic_Violations (6).csv', low_memory = False)

Wall time: 33.6 s

In [30]:
data.shape

(1618721, 43)

In [31]:
%%time
data['Date Of Stop'] = pd.to_datetime(data['Date Of Stop'])

Wall time: 4min 54s

In [23]:
data['year'] = ''
data['month'] = ''
data['day'] = ''

In [24]:
data['year'] = data['Date Of Stop'].dt.year
data['month'] = data['Date Of Stop'].dt.month
data['day'] = data['Date Of Stop'].dt.day

In [25]:
data.groupby('year')['month'].value_counts(sort = False)

year  month
2012  1        10253
      2        10342
      3        11624
      4        13174
      5        17397
      6        13075
      7        11694
      8        12116
      9        12069
      10       13162
      11       13593
      12       12876
2013  1        13098
      2        12909
      3        15861
      4        14842
      5        18417
      6        13554
      7        15748
      8        16892
      9        18170
      10       17448
      11       17027
      12       16553
2014  1        15461
      2        15888
      3        19572
      4        21405
      5        22601
      6        17588
               ...
2017  7        16163
      8        16755
      9        16963
      10       16460
      11       15812
      12       15371
2018  1        17595
      2        18186
      3        20001
      4        22491
      5        18115
      6        16633
      7        18180
      8        18004
      9        16868
      10       18275
      11       16833
      12       17106
2019  1        16479
      2        17109
      3        20597
      4        18806
      5        16680
      6        14501
      7        15535
      8        15027
      9        15475
      10       12675
      11       13588
      12        3986
Name: month, Length: 96, dtype: int64